<div class="about-container">
  <h2>ABOUT US</h2>
  <div class="anggota-anggota">
    <div class="anggota">
      <div class="profile-pic">
        <img src="./img/sam_crop.jpeg" alt="Foto Sam">
      </div>
      <p>Sam Zuhal S.<br />2005176043</p>
    </div>
    <div class="anggota">
      <div class="profile-pic">
        <img src="./img/arya.jpeg" alt="Foto Arya">
      </div>
      <p>Muh. Arya N. D.<br />2005176023</p>
    </div>
    <div class="anggota">
      <div class="profile-pic">
        <img src="./img/qolbi.jpg" alt="Foto Qolbi">
      </div>
      <p>Qalbi Teguh S.<br />2005176003</p>
    </div>
    <div class="anggota">
      <div class="profile-pic">
        <img src="./img/ekin.jpeg" alt="Foto Ekin">
      </div>
      <p>Tarigan, Zefanya E. S.<br />2005176041</p>
    </div>
    <div class="anggota">
      <div class="profile-pic">
        <img src="./img/yoland.jpeg" alt="Foto Yoland">
      </div>
      <p>Lintang, Yoland R.R.<br />2005176016</p>
    </div>
  </div>
</div>