<form action="" class="pendapatan-container" method="post">
  <label for="nominal">Nominal Pendapatan*</label>
  <input type="number" name="nominal" id="nominal" required>
  <label for="keterangan">Keterangan*</label>
  <input type="text" name="keterangan" id="keterangan" placeholder="Contoh: Barang Terjual" required>
  <div class="date-and-time">
    <div>
      <label for="date">Date*</label>
      <input type="date" name="date" id="date">
    </div>
    <div>
      <label for="time">Time*</label>
      <input type="time" name="time" id="time">
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
<script>
  let currentTime = new Date();
  currentTime.setMinutes(currentTime.getMinutes() - currentTime.getTimezoneOffset());
  currentTime.setSeconds(0);
  currentTime.setMilliseconds(0);
  document.getElementById("date").valueAsDate = currentTime;
  document.getElementById("time").valueAsDate = currentTime;
</script>